Asistente Medico.json
{
  "name": "Asistente Medico",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "correo@gmail.com",
          "mode": "list",
          "cachedResultName": "correo@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "sendUpdates": "all",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -480,
        -1152
      ],
      "id": "f01be727-d91f-421e-b6e9-3a88178ed9fd",
      "name": "Crear evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FWFYkwz0dmpTk",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "correo@gmail.com",
          "mode": "list",
          "cachedResultName": "correo@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -224,
        -1168
      ],
      "id": "da2d054e-8a35-4e22-8cf6-d359cb8ba63e",
      "name": "Actualizar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FWFYkwz0dmphnCTk",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Utiliza esta herramienta para eliminar eventos del calendario.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "correo@gmail.com",
          "mode": "list",
          "cachedResultName": "correo@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -352,
        -1152
      ],
      "id": "f49a78ff-6ed7-41af-bed9-d6b8d26bbb13",
      "name": "Eliminar evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el ítem de entrada actual de este nodo\nconst item = $input.first();\n\n// 2. Traemos de forma correcta los datos del nodo de EvolutionAPI\nconst evolutionData = $('Evolution').first().json;\n\n// 3. Extraemos el mensaje (manejando si viene vacío o de tipo diferente)\n//item.json.mensaje_unificado = //evolutionData.body?.data?.message?.conversation || \"\";\n\nitem.json.mensaje_unificado =\n   $('Edit Fields').first().json.body.data.message.conversation||\n  evolutionData.message ||  \"\" || $input.first().json.message ;\n\n// 4. Extraemos el teléfono limpio usando la lógica que armamos anteriormente\nconst remoteJid = evolutionData.body?.data?.key?.remoteJid || \"\";\nitem.json.telefono = remoteJid.replace('@s.whatsapp.net', '').replace(/^521?/, '');\n\n// 5. Devolvemos el ítem con los nuevos campos estructurados\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        -1488
      ],
      "id": "d3c77124-32ab-4907-af31-24ad16f17689",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "databaseId": 462046,
        "tableId": 1017806,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8941000,
                "value": "={{ $('Code in JavaScript1').item.json.telefono }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        -1328,
        -1488
      ],
      "id": "84e4d90f-e351-4073-93c4-3cae7de06227",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "credentials": {
        "baserowApi": {
          "id": "1GB48QXGSzyqG5Dn",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb3fe261-2a62-42a9-9047-16a603965bcd",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1104,
        -1488
      ],
      "id": "076ba647-5f15-42ff-8bfb-ccabcf9dd5ff",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 462046,
        "tableId": 1017806,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8941000,
              "fieldValue": "=\n{{ $('Code in JavaScript1').item.json.telefono }}"
            },
            {
              "fieldId": 8989100,
              "fieldValue": "={{ $('Evolution').item.json.body.data.pushName }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1.1,
      "position": [
        -912,
        -1904
      ],
      "id": "f403ed57-cd76-4dd8-8cbc-617836247d69",
      "name": "Create a row1",
      "credentials": {
        "baserowApi": {
          "id": "1GB48QXGSzyqG5Dn",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5668318-6cca-4f2c-817e-073c015e7c5a",
              "name": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace(/^521|^52/, '') }}",
              "value": "",
              "type": "string"
            },
            {
              "id": "aa0bb030-fe42-4c26-932d-18fbf27b40af",
              "name": "body.data.message.conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        -1536
      ],
      "id": "07ac3595-b39f-4eb3-8d35-a943dcdaa7d6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Evolution').item.json.body.data.messageType }}",
                    "rightValue": "=audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fc59f2d2-9c2b-45fc-aca0-ac1cd1c2154b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8d972882-fa72-4a6f-8327-064551dd49b0",
                    "leftValue": "={{ $('Evolution').item.json.body.data.messageType }}",
                    "rightValue": "=conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ab6ea392-32e3-44c2-a1d8-a268a3b60194",
                    "leftValue": "={{ $('Evolution').item.json.body.data.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "formato/links"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1776,
        -1552
      ],
      "id": "1c8ecbee-18f4-4baa-bc4f-76e5135bf37d",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1e39be0-7242-41b4-a8f1-b8e55ff7c3b9",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        -1696
      ],
      "id": "7ff728f1-52d2-433f-9adf-70a6c9631171",
      "name": "mapear mensaje"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4486b734-0d77-4025-b688-9095ef15189e",
              "leftValue": "={{ $('Evolution').item.json.body.data.key.remoteJid.includes('@g.us') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        -1856
      ],
      "id": "427bd50f-f13f-4a75-afe5-6987138cd727",
      "name": "siesgrupo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje_unificado }}",
        "options": {
          "systemMessage": "=Eres un asistente virtual automatizado para WhatsApp de una clínica médica. Tu único objetivo es agendar citas, dar costos de consultas y proporcionar horarios. Eres amable, profesional y tus respuestas deben ser muy breves y directas.\n\nAplica estrictamente la configuración: GENERIC_TIMEZONE = America/Mexico_City\nFECHA_DE_HOY: {{ $now.setZone('America/Mexico_City').format('yyyy-MM-dd') }} (Usa esta fecha del sistema como el día actual).\n\n---\n### 📌 REGLAS DE FLUJO Y AGENDAMIENTO\n1. Recopila los siguientes 4 datos obligatorios UNO POR UNO. Jamás pidas más de un dato a la vez:\n   * Nombre completo (Nombres y Apellidos).\n   * Correo electrónico.\n   * Especialidad médica requerida.\n   * Fecha y hora de preferencia.\n2. Si el usuario te saluda, devuélvele el saludo cordialmente, indícale que le ayudarás a agendar su cita y solicita de inmediato el primer dato (Nombre completo).\n3. No dupliques citas: Valida que el mismo paciente no agende dos citas el mismo día a la misma hora.\n4. Confirmación Final: Al tener los 4 datos, registra la cita en Google Calendar y responde EXACTAMENTE con este formato:\n\"¡Perfecto! He recibido tus datos: Nombre: [Nombre], Correo: [Correo], Consulta: [Especialidad], Fecha y Hora: [Fecha/Hora]. Tu Cita quedo agenda. Muchas Gracias.\"\n\n---\n### ⚙️ TRATAMIENTO DE DATOS Y VALIDACIONES\n* Filtro de Fechas Obligatorio: \n  - PERMITE Y APRUEBA con total libertad cualquier fecha que sea a futuro (días, semanas o meses posteriores a la FECHA_DE_HOY).\n  - BLOQUEA únicamente si el usuario pide un día o una fecha que ya pasó en el calendario en comparación con la FECHA_DE_HOY. Si es una fecha pasada, indícale amablemente que debe elegir un día posterior o igual a hoy.\n* Transcripción de Voz a Email: Si el mensaje proviene de un audio y el texto traducido dice \"arroba\", \"punto com\", \"punto net\", o tiene espacios/guiones bajos intermedios, corrígelo internamente a su formato real (ej. \"juan arroba gmail punto com\" ➔ \"juan@gmail.com\") ANTES de validarlo o guardarlo.\n* Validación de Email: Si el correo de texto no es válido, responde exactamente: \"Favor de proporcionar un correo valido, por favor\"\n\n---\n### 🕒 HORARIOS Y RESTRICCIONES\n* Horarios de Atención: Si preguntan por los horarios de la clínica, responde exactamente: \"Nuestros Horarios de Atención son de Lunes a Viernes de 9:00 am a 7:00 pm y Sábados de 9:00 am a 2:00 pm.\"\n* Restricción de Citas: Bloquea y no permitas agendar citas que estén fuera de los horarios de atención anteriores.\n* Duración: Si preguntan cuánto dura la consulta, responde que dura media hora.\n\n---\n### 💰 COSTOS DE CONSULTA\n1. Si preguntan costos generales, solicita primero la especialidad médica que necesitan cotizar.\n2. Si proporcionan o ya se sabe la especialidad, responde con los siguientes costos exactos:\n   * Consulta General: $60 pesos.\n   * Consulta de Pediatría: $150 pesos.\n   * Odontología: $100 pesos.\n\n---\n### 🚫 RESTRICCIONES ESTRICTAS DE COMPORTAMIENTO\n* Fuera de Alcance: Si preguntan algo ajeno a citas, costos o horarios, responde textualmente: \"Lo siento, solo puedo ayudarte a agendar tu cita médica y proporcionar costos de consulta. Por favor, facilítame el dato solicitado para continuar.\"\n* Cero Alucinaciones: Está estrictamente prohibido inventar información, dar consejos médicos o recetar. Si no sabes qué responder o el usuario se desvía, repite amablemente la última pregunta del dato que te hace falta recopilar.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        -1616
      ],
      "id": "b62e9c2c-7d58-4cb5-802e-5143510c0366",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -720,
        -1456
      ],
      "id": "7093cf8d-e128-475e-9302-1b7e2cb6aa76",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CASavzvhg9thIOuO",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefono }}",
        "contextWindowLength": "={{ 18 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -560,
        -1440
      ],
      "id": "45b061ea-5b36-4d3c-987a-0f84e33b0c81",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://server/message/sendText/{{ $('Evolution').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Evolution').item.json.body.data.key.remoteJid }}\",\n \"text\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        -1552
      ],
      "id": "2e1aefbe-7af8-4ce1-b0dd-345df4c8c9ef",
      "name": "Respuesta Whatsap1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mPCNp4Jwn3h7Mdlc",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este código toma la cadena de texto Base64 y la reconstruye en el archivo binario 'data' que busca Gemini\nfor (const item of $input.all()) {\n  if (item.json && item.json.base64) {\n    item.binary = {\n      data: {\n        data: item.json.base64,\n        mimeType: 'audio/ogg',\n        fileExtension: 'ogg',\n        fileName: 'audio.ogg'\n      }\n    };\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -1696
      ],
      "id": "23e5e7f4-bfbe-4790-95ea-067aec4a7b99",
      "name": "file1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://server/chat/getBase64FromMediaMessage/{{ $('Evolution').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2PpXS0DMdzb70yfTI5EtQF9pG6sz"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Evolution').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1568,
        -1696
      ],
      "id": "f906be6f-ccb7-49be-8699-6dab36212199",
      "name": "obtiene file1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mPCNp4Jwn3h7Mdlc",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -1312,
        -1696
      ],
      "id": "f08ae288-639b-48e6-9c9c-594104782b6e",
      "name": "extrae audio1",
      "credentials": {
        "openAiApi": {
          "id": "CASavzvhg9thIOuO",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Evolution').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "90195ad7-9158-44ef-8aec-98f4c090b1b3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1d74d38e-2cc1-4783-8b6e-d6d6a971ebee",
                    "leftValue": "={{ $('Evolution').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        -1616
      ],
      "id": "5eeb5cfe-b6e8-4d8e-b1ba-e385e4c92667",
      "name": "Switch3"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "voice": "echo",
        "options": {
          "response_format": "mp3"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -112,
        -1744
      ],
      "id": "0c371f33-2513-466c-baf2-329683081e9e",
      "name": "Generate audio1",
      "credentials": {
        "openAiApi": {
          "id": "CASavzvhg9thIOuO",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://server/message/sendMedia/{{ $('Evolution').item.json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"={{ $('Evolution').item.json.body.data.key.remoteJid.replace(/[^0-9]/g, '') }}\",\n  \"mediatype\": \"audio\",\n  \"media\": \"{{ $node['Code in JavaScript'].json['audioBase64'] }}\",\n  \"fileName\": \"audio.mp3\",\n  \"options\": {\n    \"audioAsVoice\": true\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -1744
      ],
      "id": "0109bce0-5e92-4cad-b52f-19b36e0f647b",
      "name": "Resp Audio1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mPCNp4Jwn3h7Mdlc",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nreturn [{\n  json: {\n    audioBase64: buffer.toString('base64')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -1856
      ],
      "id": "659bc1cb-79b9-48d7-82de-94eb5a2a1fac",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "60483653-6a3a-4609-9338-971921f383be",
        "options": {
          "responseData": "="
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2192,
        -1536
      ],
      "id": "9ec5ad93-6ad1-4a8e-820e-ea0d93edd3d8",
      "name": "Evolution",
      "webhookId": "60483653-6a3a-4609-9338-971921f383be"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbf08fa2-630b-47fd-b5e5-d93eeef82227",
              "name": "mensaje_unificado",
              "value": "={{ $('Code in JavaScript1').item.json.mensaje_unificado }}",
              "type": "string"
            },
            {
              "id": "19eea601-c929-46f3-bd40-a1f2ed0c2878",
              "name": "telefono",
              "value": "={{ $('Code in JavaScript1').item.json.telefono }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -1856
      ],
      "id": "d8047c53-fc79-4e32-9359-fd948cb58eb2",
      "name": "Edit campo"
    },
    {
      "parameters": {
        "description": "=Usa esta herramienta obligatoriamente cuando el usuario solicite consultar disponibilidad, agendar, modificar o cancelar una cita. Extrae y estructura los parámetros en el JSON de salida: 'accion' (buscar, crear, actualizar o eliminar), 'after' (inicio de la cita en ISO 8601) y 'before' (fin de la cita en ISO 8601).",
        "workflowId": {
          "__rl": true,
          "value": "Blzy9SPJaT6zCtcO",
          "mode": "list",
          "cachedResultUrl": "/workflow/Blzy9SPJaT6zCtcO",
          "cachedResultName": "Subflujo - Buscar Disponibilidad"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "before": "={{ $fromAI('before', ``, 'string') }}",
            "accion": "={{ $fromAI('accion', ``, 'string') }}",
            "eventId": "={{ $fromAI('eventId', ``, 'string') }}",
            "after": "={{ $fromAI('after', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "after",
              "displayName": "after",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "before",
              "displayName": "before",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "eventId",
              "displayName": "eventId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        48,
        -1312
      ],
      "id": "aadd4837-d95a-44e3-9477-a3e55cdbee44",
      "name": "Call 'Subflujo - Buscar Disponibilidad'"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "cesargonzalezlopez79@gmail.com",
          "mode": "list",
          "cachedResultName": "cesargonzalezlopez79@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -96,
        -1168
      ],
      "id": "ae2c5855-b129-4066-99f0-14cbf33eb264",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FWFYkwz0dmphnCTk",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Actualizar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "siesgrupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "siesgrupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "obtiene file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapear mensaje": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "siesgrupo": {
      "main": [
        [],
        [
          {
            "node": "Edit campo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "file1": {
      "main": [
        [
          {
            "node": "extrae audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtiene file1": {
      "main": [
        [
          {
            "node": "file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrae audio1": {
      "main": [
        [
          {
            "node": "mapear mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Generate audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Whatsap1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Resp Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit campo": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Subflujo - Buscar Disponibilidad'": {
      "ai_tool": [
        []
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "cbc10f0d-8d6a-46d7-b56a-dccb2e6aeff3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c392096c9758ef014b8039d35b0517c1ffe6047ac524c3ee8dffca70b0999a0"
  },
  "id": "EuMCygHFsQQAiTlO",
  "tags": [
    {
      "updatedAt": "2026-06-03T02:40:50.906Z",
      "createdAt": "2026-06-03T02:40:50.906Z",
      "id": "G9o7DL2o5fDIN9xP",
      "name": "CesarGzz"
    }
  ]
}