SubFlujo Porton.json
{
  "name": "SubFlujo Porton",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields1').item.json.body.data.messagetype }}",
                    "rightValue": "=audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fc59f2d2-9c2b-45fc-aca0-ac1cd1c2154b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8d972882-fa72-4a6f-8327-064551dd49b0",
                    "leftValue": "={{ $('Edit Fields1').item.json.body.data.messagetype }}",
                    "rightValue": "=conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1392,
        -208
      ],
      "id": "e26b4db0-35b5-4f13-85fa-9960581ccd96",
      "name": "Switch1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el ítem de entrada actual de este nodo\nconst item = $input.first();\n\n// 2. Traemos de forma correcta los datos del nodo de Switch1 usando encadenamiento opcional\nconst evolutionData = $('Switch1').first()?.json || {};\n\n// 3. Extraemos el mensaje buscando en orden de prioridad (Texto normal -> Transcripción de Audio -> Entrada directa)\nitem.json.mensaje_unificado =\n  $('Edit Fields1').first()?.json?.body?.data?.message?.conversation ||\n  evolutionData?.message ||\n  $input.first()?.json?.message || \n  \"\";\n\n// 4. Extraemos el teléfono limpio buscando primero en Edit Fields1, luego en Switch1 y finalmente en la entrada\nconst phoneFromFields = $('Edit Fields1').first()?.json?.body?.data?.message?.telefono;\nconst phoneFromSwitch = evolutionData?.body?.data?.key?.remoteJid;\nconst phoneFromInput = $input.first()?.json?.telefono;\n\nconst rawPhone = phoneFromFields || phoneFromSwitch || phoneFromInput || \"\";\n\n// Limpiamos el formato de WhatsApp para dejar solo los números\nitem.json.telefono = rawPhone.replace('@s.whatsapp.net', '').replace(/^521?/, '');\n\n// 5. Devolvemos el ítem con los nuevos campos estructurados\nreturn item;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1072,
        -80
      ],
      "id": "86dc3b90-3ca8-496b-97c1-516934ddf43b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1e39be0-7242-41b4-a8f1-b8e55ff7c3b9",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        -352
      ],
      "id": "91288b61-83db-4a04-aa8c-7f5519ddece4",
      "name": "mapear mensaje1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "eb3fe261-2a62-42a9-9047-16a603965bcd",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -784,
        -144
      ],
      "id": "cbf3cf83-4ca4-4bcc-803b-ea9198481f93",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4486b734-0d77-4025-b688-9095ef15189e",
              "leftValue": "={{ $('Edit Fields1').item.json.body.data.remoteJid.includes('@g.us') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -208
      ],
      "id": "4d804a16-08d9-40da-bd00-9458343f01f7",
      "name": "siesgrupo1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript1').item.json.mensaje_unificado }}",
        "options": {
          "systemMessage": "=# ROLE AND OBJECTIVE\nEres \"Portón-Bot\", el asistente virtual automatizado de la taquería \"El Portón Tacos y Gorditas\" en Santa Catarina, NL. Tu único objetivo es tomar pedidos de forma amable, rápida, clara y sin cometer errores matemáticos.\n\n# CONTEXTO Y VALIDACIÓN TEMPORAL (CRÍTICO)\n- Nombre del Cliente Actual: {{ $('Edit Fields1').item.json.body.data.pushName }}\n\n# INSTRUCCIONES DE SALUDO (PRIMER MENSAJE DE LA HISTORIA)\nSi el cliente apenas está saludando o es el inicio del chat, responde exactamente en este orden y formato:\n1. Saludo y Bienvenida cordial llamando al cliente por su nombre.\n2. Añade textualmente en una línea sola: ¿Qué le ofrecemos Hoy?\n3. Muestra el menú con este formato idéntico:\nTenemos:\n• Tacos (Harina o Maíz)\n• Gorditas (Maíz)\n• Lonches (Barbacoa o Carne Asada)\n4. EXCEPCIÓN: Si el día de la consulta es Sábado o Domingo, añade abajo del menú la línea: \"🍲 Menudo disponible este fin de semana.\"\n\n# LÓGICA DE CONTROL DEL CARRITO (EVITAR AMNESIA Y REEMPLAZOS)\n- CLASIFICACIÓN POR ÓRDENES: Da flexibilidad al cliente de separar su pedido por órdenes o platos (Ej: 'Para la primera orden: 3 gorditas de asada en maíz. Para la segunda orden: 1 Lonche...').\n- REGISTRO ACUMULATIVO TOTAL: Lleva un control estricto en tu memoria de cada producto, cantidad, guiso o especificación mencionada. NO borres ni ignores los productos de mensajes anteriores a menos que el cliente lo pida expresamente.\n- COMPORTAMIENTO ADITIVO: Si el cliente dice 'también agrega...', 'agrega además...' o similares, incrementa los elementos al registro actual en lugar de sobreescribir el carrito.\n- CORRECCIONES PRECISAS: Si el cliente corrige una cantidad, tipo de masa o guiso, modifica únicamente ese artículo específico dentro de la lista acumulada, dejando intacto el resto del pedido.\n\n# CONVERSACIÓN Y REGULACIÓN DE FLUJO\n- Haz una sola pregunta a la vez. No abrume ni satures al cliente con múltiples peticiones de datos en un solo mensaje.\n- Si el usuario olvida un dato crucial (ej. el guiso o el tipo de masa), solicítalo amablemente en ese instante antes de pasar al siguiente paso.\n- Prohibido el uso de comillas dobles (\") en todas tus respuestas.\n- Mantén tus mensajes cortos, conversacionales y directos. Sin textos gigantes.\n\n# REQUISITOS OBLIGATORIOS PARA CERRAR EL PEDIDO\nDebes obtener todos estos datos de forma guiada:\n1. Platillo, Guiso y Cantidad exacta. (Muestra la lista de guisos solo si el cliente pide uno que no existe).\n2. Tipo de masa (Harina o Maíz) - REQUISITO EXCLUSIVO PARA TACOS.\n3. Tipo de entrega: ¿Pasa a recoger o prefiere servicio a domicilio?\n4. Dirección y Colonia: Obligatorio si solicita servicio a domicilio. Debes buscar la colonia exacta en el catálogo de abajo para asignar el costo de envío.\n## GUISOS DISPONIBLES:\nBarbacoa, Deshebrada, Picadillo, Asado de Puerco, Cachete o Chicharron, Tripa, Carne en Salsa Verde, Huevo en Salsa, Machacado, Rajas con queso, Papa, Nopales, Quesadilla, Frijol, Discada, Carne Asada, Jalapeño de queso, Jalapeño de carne.\n## BEBIDAS DISPONIBLES:\nSangria Topo chico, Coca Cola, Coca Cola Light, Fuze Tea, Ciel Jamaica,Ciel Limón.\n\n## LISTA DE PRECIOS UNITARIOS (MATEMÁTICA ESTRICTA):\n- Taco de Barbacoa, Deshebrada, Picadillo, Asado de Puerco, Cachete o Chicharron, Tripa, Carne en Salsa Verde, Huevo en Salsa, Machacado, Rajas con queso, Papa, Nopales, Frijol o Discada: $24 cada uno.\n- Taco de Jalapeño de queso: $26 cada uno.\n- Taco de Jalapeño de carne: $26 cada uno.\n- Taco de Carne Asada: $26 cada uno.\n- Gordita (Cualquier guiso): $30 cada una.\n- Quesadilla: $35 cada una.\n- Lonche de Barbacoa: $75 cada uno.\n- Lonche de Carne Asada: $85 cada uno.\n- Litro de Menudo: $240 cada uno. (solo fines de Semana)\n- Medio Litro de Menudo: $120 cada uno. (solo fines de Semana)\n- Sangria Topo chico: $25 cada uno.\n- Coca Cola: $25 cada uno.\n- Coca Cola Light: $25 cada uno.\n- Fuze Tea: $30 cada uno.\n- Ciel Jamaica: $30 cada uno.\n- Ciel Limón: $30 cada uno.\n\n\n## COSTOS DE ENVÍO POR COLONIA:\n• INDST PEDRERAS: $85 | INDST SIERRA MADRE: $85 | INDST STIVA: $85 | LA FAMA: $85\n• PASEO LA SIERRA: $45 | PASEO DEL PRADO: $45 | PASEO DE STA: $45 | PREDEGAL DE LA HUASTECA: $45\n• PEDREGAL DE SANTA: $55 | PIO XII: $65 | PRADOS DEL REY: $65 | PRADOS DEL SOL: $65\n• PRADOS DE SAN JORGE: $75 | PRADOS DE STA: $75 | PRADERAS DEL CASTILLO: $55 | PRIV 10 DE MAYO: $55\n• PRIV 5 DE MAYO: $45 | 27 DE MAYO: $45 | 29 DE JULIO: $45 | PRIV ACUEDUCTO: $40\n• PRIV ANTIGUA: $45 | PRIV LA BOLITA: $55 | PRIV LAS FLORES: $65 | PRIV OLIVOS: $55\n• PRIV ROBLES: $55 | PRIV SAN MIGUEL LA HUASTECA: $45 | PRIV SAN PATRICIO: $45\n• PRIV SAN PEDRO RESIDENCIAL: $85 | PRIV DE LA MONTAÑA: $65 | PRIV DE STA: $75 | PRIV TREVIÑO: $45\n• PRIV VALLE PONIENTE: $85 | PRIV STA CAT SECTOR ELITE: $75 | PRIV DEL PARQUE: $100 | PRIV LA HUASTECA: $45\n• PRIV ONDARA: $45 | PRIV SIERRA MADRE: $45 | PRIV DEL PONIENTE: $75 | PROTEXA: $55\n• PROVIVIENDA DEL PTE: $65 | PROVIVIENDA DEL PTE 1: $65 | PROVIVIENDA DEL PTE 2: $75 | PROVIVIENDA DEL PTE 3: $75\n• PUERTA MITRAS: $75 | PUERTA DEL SOL: $65 | REAL DEL VALLE: $55 | REAL DE STA: $75\n• REGIO PARQUE INDST STA CAT.: $90 | RESIDENCIAL ARVORE: $45 | RESIDENCIAL CORDILLERA: $75 | RESIDENCIAL CUAUHTÉMOC: $65\n• RESIDENCIAL LA SIERRA: $55 | RESIDENCIAL DE STA: $75 | RESIDENCIAL HUASTECA: $45 | RESIDENCIAL OLINCA: $75\n• RESIDENCIAL STA CECILIA 1: $65 | RESIDENCIAL STA CECILIA 2: $65 | RESIDENCIAL ROBLES DE STA: $65 | RESIDENCIAL PANORÁMICA: $45\n• RINCÓN DE LA HUASTECA: $45 | RINCÓN DE LAS HUERTAS: $45 | RINCÓN DE LAS MITRAS: $55 | RINCÓN DE LAS PALMAS: $85\n• RINCÓN DEL PTE: $55 | ROBLES DE STA: $55 | SAN FRANCISCO: $65 | SAN GILBERTO: $65 | SAN GREGORIO: $40\n• SAN HUMBERTO: $65 | SAN ISIDRO: $75 | SAN ROBLES: $65 | SANTA CAT INDUSTRIAL PARK: $90 | SANTA JULIA: $45\n• STA MAGDALENA: $65 | STA MARTHA 1: $45 | STA MARTHA 2: $45 | STA CATALINA: $45 | CTRO DE STA: $45\n• SENDEROS: $65 | JARDINES DE LA FAMA: $55 | JARDINES DE STA CAT.: $40 | JESÚS M. GARZA: $55\n• LÓPEZ PORTILLO: $65 | LA CONQUISTA: $75 | LA ERMITA: $75 | LA ESPAÑOLA: $65 | LA FAMA: $65\n• LA FRATERNIDAD: $65 | LA FORTALEZA: $65 | LA JOYA: $65 | LA PUERTA: $75 | LA PUERTA DE LA HUASTECA: $75\n• LABORES NUEVAS: $65 | LAS ALMENAS: $65 | LAS ANACUAS: $65 | LAS CATARINAS: $65 | LAS FINCAS: $65\n• LAS FINCAS 2: $65 | LAS MARGARITAS: $40 | LAS MONTAÑAS: $85 | LAS PALMAS: $85 | LAS SIERRAS: $85\n• LAS SOMBRILLAS: $85 | LAS VIVENZIAS: $85 | LÁZARO CÁRDENAS: $40 | LOMA ALTA: $85 | LOMA ALTA 2: $85\n• LOMA BLANCA: $75 | LOMA PELONA: $65 | LOMAS DE STA: $85 | LOMAS DEL PTE: $75 | LOMAS DE LA FAMA: $85\n• LOMAS DEL MIRADOR: $85 | LOS CENIZOS: $85 | LOS PORTALES: $65 | LOS TREVIÑO: $45 | LOS VIÑEDOS: $85\n• LUIS ECHEVERRÍA: $55 | LÓPEZ MATEOS: $65 | MALINDA: $65 | METRO ALIANZA STA CAT.: $50 | MICROEMPRESARIOS: $85\n• MERCADO DE ABASTOS: $65 | MIGUEL HIDALGO: $65 | MIRADOR DE LA HUASTECA: $45 | MIRADOR DE LAS MITRAS: $75\n• MISIÓN DE STA: $45 | MISIÓN DE LA HUASTECA: $45 | MISIÓN BARRANCA: $75 | MISIÓN CONCORDIA: $55\n• MISIÓN DE LAS VILLAS: $75 | MONTALIA: $65 | MONTENEGRO: $55 | NORBERTO AGUIRRE: $65 | NVA FORTALEZA: $85\n• NVA STA CATARINA: $55 | ONDARA: $55 | PARQUE 100: $85 | PARQUE 200: $85 | PARQUE 300: $85\n• PARQUE KALOS: $85 | PARQUE LOS NOGALES: $85 | PARQUE MILENIUM: $85 | PARQUE INDST ATLAS: $85\n• PARQUE INDST VIA: $85 | PARQUE INDST REGALOS: $85 | PARQUE INDST DIAMANTE: $85 | PARQUE INDST FINZA STA CAT.: $85\n• PARQUE INDUSTRIAL CORNER: $95 | PARQUE INDST LA CONCORDIA: $105 | PARQUE INDST LA ESPERANZA: $105\n• PARQUE INDST LA PUERTA: $85 | PARQUE INDST LAS PALMAS: $85 | PARQUE INDST LAS TORRES: $85\n• PARQUE INDST LOS NOGALES: $85 | PARQUE INDST MARFER: $85 | PARQUE INDST MARTEL: $85 | PARQUE INDST MILLENIUM: $85\n• PARQUE INDST MILIMEX: $85 | PARQUE INDST MULTITECH: $85 | REFINERÍA DE PEMEX: $85 | TAFICH: $35\n• TEPEYAC: $65 | TRABAJADORES: $65 | TERRAPARK COLOSIO: $95 | TERRAPARK STA CATARINA: $110 | TERRAPARK STA CATARINA 2: $110\n• TORRES DE STA CATARINA: $85 | UNIÓN DEL NORESTE: $65 | UNIVERSIDAD TECNOLÓGICA STA CAT: $90\n• VALLE DE LAS SIERRA: $45 | VALLE DE STA CRUZ: $45 | VALLE PONIENTE SECTOR OLINCA: $70 | VENTANAS DE LA HUASTECA: $45\n• VÉRTICE: $65 | VÍA CORDILLERA: $85 | VILLAS DE LA HUASTECA: $45 | VILLAS DE LAS HUERTAS: $45\n• VILLAS DE SAN HUMBERTO: $65 | VILLAS DEL MIRADOR: $85 | VILLAS DEL PONIENTE LAS GRANADAS: $55\n• VISIÓN DE LA HUASTECA: $85 | VISTA LA SIERRA: $45 | VITRALES: $85 | ZIMEX: $55 | ZIMEX NORTE: $55\n• ZIMEX SECCIÓN LEONES: $55 | ZIMEX SUR: $55 | CARRIER PLANTA A: $55 | CARRIER PLANTA B: $100 | CARRIER PLANTA C: $100\n• COFLEX CEDIS: $115 | GONHER INDST: $115 | TRES GUERRAS: $130 | PROLOGISTIC: $130\n\n# CONFIRMACIÓN Y DESGLOSE MATEMÁTICO FINAL\nCuando tengas toda la información de los puntos anteriores completa, genera tu mensaje de cierre desglosando la operación aritmética de manera explícita para evitar errores de conteo de la siguiente forma:\n\nPara confirmar su pedido:\n- Clasificar por número de Orden o número de Plato.\n- [Cantidad] [Platillo] de [Guiso] en Masa de [Harina/Maíz]: $[Precio Unitario x Cantidad]\n- Envío a [Colonia]: $[Costo de Envío] (O colocar \"Pasa a recoger: $0\")\n\nSubtotal Comida: $[Suma estricta de todos los alimentos]\nCosto de envío: $[Costo asignado]\nGran Total: $[Subtotal Comida + Costo de envío]\n¿Confirmamos y enviamos su pedido a cocina?\n# CONFIRMACIÓN Y FORMATO FINAL DE PEDIDO\nCuando el cliente confirme toda la información (incluyendo los datos de pago finales) y el pedido esté listo para ser cerrado, debes enviar un único mensaje final estructurado exactamente de la siguiente manera (siguiendo una plantilla limpia con líneas divisoras):\n\nPedido (agrega un numero random)\n---------------------------------\n\n[Aquí listas detalladamente los productos acumulados con sangría para sus ingredientes/detalles, por ejemplo:]\n2x Gorditas de Deshebrada $50\n - Harina\n1x Refresco de plástico $25\n - Coca Cola\n\nCosto de envío: $[Insertar costo de la colonia] (O 'Pasa a recoger')\nTotal: $[Calcular suma total exacta]\n\n---------------------------------\nTiempo de entrega: de 45 minutos a 60 minutos\nGracias por su compra (icono de agradecimiento)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -192,
        -272
      ],
      "id": "9291eb0c-06d0-4e3e-8eae-9148bb3d89e3",
      "name": "AI Agent1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        -48
      ],
      "id": "b733e233-4d99-4d88-b69f-68db41b82075",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "CASaO",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields1').item.json.body.data.telefono }}",
        "contextWindowLength": 18
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -96,
        -16
      ],
      "id": "7ccb8a63-ffe0-4226-a49f-531ca3174c3a",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://server/message/sendText/{{ $('Edit Fields1').item.json.body.data.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Edit Fields1').item.json.body.data.remoteJid }}\",\n \"text\": {{ JSON.stringify($json.output) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -208
      ],
      "id": "9927427b-e4a3-4a04-8232-f950d260cfac",
      "name": "Respuesta Whatsap",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mPCNp4Jwn3h7",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este código toma la cadena de texto Base64 y la reconstruye en el archivo binario 'data' que busca Gemini\nfor (const item of $input.all()) {\n  if (item.json && item.json.base64) {\n    item.binary = {\n      data: {\n        data: item.json.base64,\n        mimeType: 'audio/ogg',\n        fileExtension: 'ogg',\n        fileName: 'audio.ogg'\n      }\n    };\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -352
      ],
      "id": "84717405-0dff-4bf9-9e60-9223607e47b9",
      "name": "file"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://server/chat/getBase64FromMediaMessage/{{ $('Edit Fields1').item.json.body.data.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "2PpX"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Edit Fields1').item.json.body.data.id }}\"\n    }\n  },\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        -352
      ],
      "id": "5fcfaa16-8b8f-496d-b605-c7ff272d31e2",
      "name": "obtiene file",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mPCNp4Jwn3h7Mdlc",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -928,
        -352
      ],
      "id": "f8c67183-47f1-4aa1-be56-4c786bdf2a3e",
      "name": "extrae audio",
      "credentials": {
        "openAiApi": {
          "id": "CASavzvhg9thIOuO",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5668318-6cca-4f2c-817e-073c015e7c5a",
              "name": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace(/^521|^52/, '') }}",
              "value": "",
              "type": "string"
            },
            {
              "id": "aa0bb030-fe42-4c26-932d-18fbf27b40af",
              "name": "body.data.message.conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "9ecf2f6e-8c9b-4060-bdd5-36d942ee43e7",
              "name": "=body.data.messagetype",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "3caa4d12-e642-457d-800f-151783d150d8",
              "name": "body.data.pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "7f5c674e-03b3-412b-bbbb-500ae1bb3abb",
              "name": "body.data.telefono",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace(/^521|^52/, '') }}",
              "type": "string"
            },
            {
              "id": "b86a2d6a-6508-4225-a02a-55d52f1d6250",
              "name": "body.data.instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "0a1e98d5-9e36-44b9-a138-17139d86df8b",
              "name": "body.data.remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "3e8170c3-f96e-4555-96c6-ce610a479ded",
              "name": "body.data.id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        -352
      ],
      "id": "838e4665-4245-49b4-aa4d-ae862260302e",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1952,
        -160
      ],
      "id": "182a46ff-6b35-4636-90f6-c53f16b7254f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef0ff64e-da1b-4a26-aff2-fc437bfe8207",
              "leftValue": "={{ $json.estaAbierto }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1472,
        -528
      ],
      "id": "9cb0b082-2312-4bb3-bb3a-d466cff2de06",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://server/message/sendText/{{ $('Edit Fields1').item.json.body.data.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Edit Fields1').item.json.body.data.remoteJid }}\",\n  \"text\": \"Lo sentimos, actualmente nos encontramos fuera de horario de atención.\\n🕒 Horario de servicio:\\nLunes a Jueves de 8:00 AM a 1:00 PM y Viernes a Domingo de 8:00 AM a 2:00 PM\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1232,
        -512
      ],
      "id": "2ae0289e-005c-44c2-8ccf-fd907a8f03a7",
      "name": "Resp Horario Fuera de serv",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mPCNp4Jwn3h7Mdlc",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener la fecha y hora actual del sistema\nconst ahora = new Date();\n\n// 2. Convertir el día y la hora a la zona horaria de Monterrey\nconst horaMonterreyTexto = ahora.toLocaleString(\"en-US\", { timeZone: \"America/Monterrey\", hour: \"2-digit\", hour12: false });\nconst diaMonterreyTexto = ahora.toLocaleString(\"en-US\", { timeZone: \"America/Monterrey\", weekday: \"long\" });\n\n// 3. Convertir la hora a un número entero (0 a 23)\nconst horaActual = parseInt(horaMonterreyTexto, 10);\n\n// 4. Definir variables de control\nlet estaAbierto = false;\nconst horaApertura = 8; // 8:00 AM para todos los días\n\n// 5. Validar el horario según el día de la semana\n// Los días en toLocaleString de \"en-US\" devuelven: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday\nif ([\"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\"].includes(diaMonterreyTexto)) {\n  // Lunes a Jueves: 8:00 AM a 1:00 PM (Hora 13)\n  const horaCierreSemana = 13;\n  if (horaActual >= horaApertura && horaActual < horaCierreSemana) {\n    estaAbierto = true;\n  }\n} else if ([\"Friday\", \"Saturday\", \"Sunday\"].includes(diaMonterreyTexto)) {\n  // Viernes a Domingo: 8:00 AM a 2:00 PM (Hora 14)\n  const horaCierreFin = 14;\n  if (horaActual >= horaApertura && horaActual < horaCierreFin) {\n    estaAbierto = true;\n  }\n}\n\n// 6. Enviar el resultado al siguiente nodo de n8n\nreturn {\n  json: {\n    estaAbierto: estaAbierto,\n    horaDetectada: horaActual,\n    diaDetectado: diaMonterreyTexto\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        -528
      ],
      "id": "32587d71-6686-42a2-8cb4-55cd184a467e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "obtiene file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mapear mensaje1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "siesgrupo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "siesgrupo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "siesgrupo1": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respuesta Whatsap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "file": {
      "main": [
        [
          {
            "node": "extrae audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtiene file": {
      "main": [
        [
          {
            "node": "file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrae audio": {
      "main": [
        [
          {
            "node": "mapear mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp Horario Fuera de serv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6327d159-9062-4e6d-b2bf-a3337dd21957",
  "meta": {
    "instanceId": "0c392096c9758ef014b8039d35b0517c1ffe6047ac524c3ee8dffca70b0999a0"
  },
  "id": "BMXGcINeXOe",
  "tags": [
    {
      "updatedAt": "2026-06-18T23:07:05.205Z",
      "createdAt": "2026-06-18T23:07:05.205Z",
      "id": "7QLxeKXsnRSe",
      "name": "whatsap"
    }
  ]
}